.TreeSaver {
  text-align: center;
}

.big-number {
  font-weight: 900;
  font-size: 5em;
}

.small-text {
  display: block;
  margin-top: -1em;
}

.tree {
  height: 8em;
  margin-top: 1em;
}

.TreeSaver.container {
  max-width: 750px;
}
